@import url("https://fonts.googleapis.com/css?family=Open+Sans:400,300,600,700,300italic,400italic,700italic,600italic,800,800italic");
.container {
    margin: 0 auto;
    max-width: 1200px;
    width: 90%
}

.row {
    position: relative;
    margin: 0
}

.row .row {
    padding-left: 0;
    padding-right: 0
}

.row [class*=" g-"]:first-child,
.row [class^="g-"]:first-child,
.row .row [class*=" g-"]:first-child,
.row .row [class^="g-"]:first-child {
    margin-left: 0 !important
}

.row [class*=" g-"],
.row [class^="g-"] {
    display: inline;
    float: left;
    margin-bottom: 2%;
    position: relative;
    margin-left: 1.88679%
}

.row .row [class*=" g-"],
.row .row [class^="g-"] {
    margin-bottom: 0
}

.row [class*=" g-"]:empty,
.row [class^="g-"]:empty {
    display: none !important
}

.row .g-1-3 {
    width: 32.07547%
}

.row .g-1-2 {
    width: 49.0566%
}

.row .g-12 {
    width: 100%
}

.row .g-12 [class*=" g-"],
.row .g-12 [class^="g-"] {
    margin-left: 2%
}

.row .g-12 .g-11 {
    width: 91.5%
}

.row .g-12 .g-10 {
    width: 83%
}

.row .g-12 .g-9 {
    width: 74.5%
}

.row .g-12 .g-8 {
    width: 66%
}

.row .g-12 .g-7 {
    width: 57.5%
}

.row .g-12 .g-6 {
    width: 49%
}

.row .g-12 .g-5 {
    width: 40.5%
}

.row .g-12 .g-4 {
    width: 32%
}

.row .g-12 .g-3 {
    width: 23.5%
}

.row .g-12 .g-2 {
    width: 15%
}

.row .g-12 .g-1 {
    width: 6.5%
}

.row .g-12 .g-1-3 {
    width: 32%
}

.row .g-12 .g-1-2 {
    width: 49%
}

.row .g-11 {
    width: 91.50943%
}

.row .g-11 [class*=" g-"],
.row .g-11 [class^="g-"] {
    margin-left: 2.06186%
}

.row .g-11 .g-10 {
    width: 90.72165%
}

.row .g-11 .g-9 {
    width: 81.4433%
}

.row .g-11 .g-8 {
    width: 72.16495%
}

.row .g-11 .g-7 {
    width: 62.8866%
}

.row .g-11 .g-6 {
    width: 53.60825%
}

.row .g-11 .g-5 {
    width: 44.3299%
}

.row .g-11 .g-4 {
    width: 35.05155%
}

.row .g-11 .g-3 {
    width: 25.7732%
}

.row .g-11 .g-2 {
    width: 16.49485%
}

.row .g-11 .g-1 {
    width: 7.21649%
}

.row .g-11 .g-1-3 {
    width: 31.95876%
}

.row .g-11 .g-1-2 {
    width: 48.96907%
}

.row .g-10 {
    width: 83.01887%
}

.row .g-10 [class*=" g-"],
.row .g-10 [class^="g-"] {
    margin-left: 2.27273%
}

.row .g-10 .g-9 {
    width: 89.77273%
}

.row .g-10 .g-8 {
    width: 79.54545%
}

.row .g-10 .g-7 {
    width: 69.31818%
}

.row .g-10 .g-6 {
    width: 59.09091%
}

.row .g-10 .g-5 {
    width: 48.86364%
}

.row .g-10 .g-4 {
    width: 38.63636%
}

.row .g-10 .g-3 {
    width: 28.40909%
}

.row .g-10 .g-2 {
    width: 18.18182%
}

.row .g-10 .g-1 {
    width: 7.95455%
}

.row .g-10 .g-1-3 {
    width: 31.81818%
}

.row .g-10 .g-1-2 {
    width: 48.86364%
}

.row .g-9 {
    width: 74.5283%
}

.row .g-9 [class*=" g-"],
.row .g-9 [class^="g-"] {
    margin-left: 2.53165%
}

.row .g-9 .g-8 {
    width: 88.60759%
}

.row .g-9 .g-7 {
    width: 77.21519%
}

.row .g-9 .g-6 {
    width: 65.82278%
}

.row .g-9 .g-5 {
    width: 54.43038%
}

.row .g-9 .g-4 {
    width: 43.03797%
}

.row .g-9 .g-3 {
    width: 31.64557%
}

.row .g-9 .g-2 {
    width: 20.25316%
}

.row .g-9 .g-1 {
    width: 8.86076%
}

.row .g-9 .g-1-3 {
    width: 31.64557%
}

.row .g-9 .g-1-2 {
    width: 48.73418%
}

.row .g-8 {
    width: 66.03774%
}

.row .g-8 [class*=" g-"],
.row .g-8 [class^="g-"] {
    margin-left: 2.85714%
}

.row .g-8 .g-7 {
    width: 87.14286%
}

.row .g-8 .g-6 {
    width: 74.28571%
}

.row .g-8 .g-5 {
    width: 61.42857%
}

.row .g-8 .g-4 {
    width: 48.57143%
}

.row .g-8 .g-3 {
    width: 35.71429%
}

.row .g-8 .g-2 {
    width: 22.85714%
}

.row .g-8 .g-1 {
    width: 10%
}

.row .g-8 .g-1-3 {
    width: 31.42857%
}

.row .g-8 .g-1-2 {
    width: 48.57143%
}

.row .g-7 {
    width: 57.54717%
}

.row .g-7 [class*=" g-"],
.row .g-7 [class^="g-"] {
    margin-left: 3.27869%
}

.row .g-7 .g-6 {
    width: 85.2459%
}

.row .g-7 .g-5 {
    width: 70.4918%
}

.row .g-7 .g-4 {
    width: 55.7377%
}

.row .g-7 .g-3 {
    width: 40.98361%
}

.row .g-7 .g-2 {
    width: 26.22951%
}

.row .g-7 .g-1 {
    width: 11.47541%
}

.row .g-7 .g-1-3 {
    width: 31.14754%
}

.row .g-7 .g-1-2 {
    width: 48.36066%
}

.row .g-6 {
    width: 49.0566%
}

.row .g-6 [class*=" g-"],
.row .g-6 [class^="g-"] {
    margin-left: 3.84615%
}

.row .g-6 .g-5 {
    width: 82.69231%
}

.row .g-6 .g-4 {
    width: 65.38462%
}

.row .g-6 .g-3 {
    width: 48.07692%
}

.row .g-6 .g-2 {
    width: 30.76923%
}

.row .g-6 .g-1 {
    width: 13.46154%
}

.row .g-6 .g-1-3 {
    width: 30.76923%
}

.row .g-6 .g-1-2 {
    width: 48.07692%
}

.row .g-5 {
    width: 40.56604%
}

.row .g-5 [class*=" g-"],
.row .g-5 [class^="g-"] {
    margin-left: 4.65116%
}

.row .g-5 .g-4 {
    width: 79.06977%
}

.row .g-5 .g-3 {
    width: 58.13953%
}

.row .g-5 .g-2 {
    width: 37.2093%
}

.row .g-5 .g-1 {
    width: 16.27907%
}

.row .g-5 .g-1-3 {
    width: 30.23256%
}

.row .g-5 .g-1-2 {
    width: 47.67442%
}

.row .g-4 {
    width: 32.07547%
}

.row .g-4 [class*=" g-"],
.row .g-4 [class^="g-"] {
    margin-left: 5.88235%
}

.row .g-4 .g-3 {
    width: 73.52941%
}

.row .g-4 .g-2 {
    width: 47.05882%
}

.row .g-4 .g-1 {
    width: 20.58824%
}

.row .g-4 .g-1-3 {
    width: 29.41177%
}

.row .g-4 .g-1-2 {
    width: 47.05882%
}

.row .g-3 {
    width: 23.58491%
}

.row .g-3 [class*=" g-"],
.row .g-3 [class^="g-"] {
    margin-left: 8%
}

.row .g-3 .g-2 {
    width: 64%
}

.row .g-3 .g-1 {
    width: 28%
}

.row .g-3 .g-1-3 {
    width: 28%
}

.row .g-3 .g-1-2 {
    width: 46%
}

.row .g-2 {
    width: 15.09434%
}

.row .g-2 .g-1 {
    margin-left: 12.5%;
    width: 43.75%
}

.row .g-1 {
    width: 6.60377%
}

.prefix-11 {
    padding-left: 93.39623%
}

.prefix-10 {
    padding-left: 84.90566%
}

.prefix-9 {
    padding-left: 76.41509%
}

.prefix-8 {
    padding-left: 67.92453%
}

.prefix-7 {
    padding-left: 59.43396%
}

.prefix-6 {
    padding-left: 50.9434%
}

.prefix-5 {
    padding-left: 42.45283%
}

.prefix-4 {
    padding-left: 33.96226%
}

.prefix-3 {
    padding-left: 25.4717%
}

.prefix-2 {
    padding-left: 16.98113%
}

.prefix-1 {
    padding-left: 8.49057%
}

.suffix-11 {
    padding-right: 93.39623%
}

.suffix-10 {
    padding-right: 84.90566%
}

.suffix-9 {
    padding-right: 76.41509%
}

.suffix-8 {
    padding-right: 67.92453%
}

.suffix-7 {
    padding-right: 59.43396%
}

.suffix-6 {
    padding-right: 50.9434%
}

.suffix-5 {
    padding-right: 42.45283%
}

.suffix-4 {
    padding-right: 33.96226%
}

.suffix-3 {
    padding-right: 25.4717%
}

.suffix-2 {
    padding-right: 16.98113%
}

.suffix-1 {
    padding-right: 8.49057%
}

.push-11 {
    left: 93.39623%
}

.push-10 {
    left: 84.90566%
}

.push-9 {
    left: 76.41509%
}

.push-8 {
    left: 67.92453%
}

.push-7 {
    left: 59.43396%
}

.push-6 {
    left: 50.9434%
}

.push-5 {
    left: 42.45283%
}

.push-4 {
    left: 33.96226%
}

.push-3 {
    left: 25.4717%
}

.push-2 {
    left: 16.98113%
}

.push-1 {
    left: 8.49057%
}

.pull-11 {
    right: 93.39623%
}

.pull-10 {
    right: 84.90566%
}

.pull-9 {
    right: 76.41509%
}

.pull-8 {
    right: 67.92453%
}

.pull-7 {
    right: 59.43396%
}

.pull-6 {
    right: 50.9434%
}

.pull-5 {
    right: 42.45283%
}

.pull-4 {
    right: 33.96226%
}

.pull-3 {
    right: 25.4717%
}

.pull-2 {
    right: 16.98113%
}

.pull-1 {
    right: 8.49057%
}

@media only screen and
/*!YUI Compressor */

(max-width:900px) {
    .row [class*=" g-"],
    .row [class^="g-"],
    .row .row [class*=" g-"],
    .row .row [class^="g-"] {
        display: block;
        margin-left: 0;
        position: static;
        width: 100%
    }
}

@media only screen and
/*!YUI Compressor */

(max-width:479px) {
    .row [class*=" g-"],
    .row [class^="g-"],
    .row .row [class*=" g-"],
    .row .row [class^="g-"] {
        left: 0;
        right: 0
    }
    .row [class*="prefix-"],
    .row .row [class*="prefix-"] {
        padding-left: 0
    }
    .row [class*="suffix-"],
    .row .row [class*="suffix-"] {
        padding-right: 0
    }
}

@media only screen and
/*!YUI Compressor */

(min-width:480px) and
/*!YUI Compressor */

(max-width:901px) {
    .t-g-3,
    .t-g-2 {
        margin-left: 1.88679% !important
    }
    .t-g-3 {
        width: 32.07547% !important
    }
    .t-g-2 {
        width: 49.0566% !important
    }
    .t-g-3:nth-of-type(4n),
    .t-g-2:nth-of-type(2n+1) {
        margin-left: 0 !important
    }
}

.container::after,
.row::after,
[class*=" g-"]::after,
[class^="g-"]::after,
.clearfix::after {
    clear: both;
    content: "";
    display: table
}

html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
    border: 0;
    font: inherit;
    font-size: 100%;
    margin: 0;
    padding: 0
}

article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
    display: block
}

body {
    line-height: 1
}

ul,
ol {
    list-style: none
}

blockquote,
q {
    quotes: none
}

blockquote::before,
blockquote::after,
q::before,
q::after {
    content: none
}

table {
    border-collapse: collapse;
    border-spacing: 0
}

button::-moz-focus-inner,
input::-moz-focus-inner {
    border: 0;
    padding: 0
}

* {
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
    -webkit-tap-highlight-color: transparent
}

*,
*::before,
*::after {
    box-sizing: border-box
}

*,
*:focus {
    outline: none
}

html,
body {
    -webkit-font-smoothing: antialiased;
    -webkit-text-size-adjust: 100%;
    background-color: #fff;
    color: #444;
    font-family: "Open Sans", arial, sans-serif;
    font-size: 100%;
    font-weight: 400;
    line-height: 1.618
}

#BodyId {
    overflow-x: hidden !important;
    overflow-y: auto !important
}

::selection {
    background-color: #0c8346;
    color: #fff
}

h1,
h2,
h3,
h4 {
    color: #444;
    font-family: "Open Sans", arial, sans-serif;
    font-weight: 700;
    line-height: 1.2;
    margin: 1.414rem 0 1rem
}

h1 {
    font-size: 2.074rem;
    margin-top: 0
}

h2 {
    font-size: 1.728rem
}

h3 {
    font-size: 1.44rem
}

h4 {
    font-size: 1.2rem
}

h1 a,
h2 a,
h3 a,
h4 a {
    font-size: inherit;
    font-weight: inherit
}

p {
    font-size: 1rem;
    margin-bottom: 1.3rem
}

p.intro {
    font-size: 1.2rem;
    font-weight: 300
}

em {
    font-style: italic;
    font-weight: 300
}

strong {
    font-weight: 600
}

small {
    font-size: .883rem
}

hr {
    border: solid #0c8346;
    border-width: 1px 0 0;
    clear: both;
    height: 0;
    margin: 2rem 0
}

blockquote {
    border-left: 6px solid #0c8346;
    display: inline-block;
    margin: 1.875rem 0;
    padding: 0 0 0 1.25rem;
    quotes: "“""”""‘""’";
    text-align: left
}

blockquote::before {
    color: #0c8346;
    content: open-quote;
    font-size: 4rem;
    line-height: .1;
    margin-right: 1rem;
    vertical-align: -1.5rem
}

q {
    quotes: "“""”""‘""’"
}

q::before {
    content: open-quote"\20"
}

q::after {
    content: "\20"close-quote
}

blockquote,
blockquote p,
q,
q p {
    color: #777;
    font-size: 1rem;
    line-height: 1.45
}

blockquote p,
q p {
    display: inline
}

blockquote cite {
    color: #555;
    display: block;
    font-style: italic;
    margin-top: .875rem
}

q cite {
    color: #555;
    display: inline;
    font-style: italic
}

blockquote cite::before,
q cite::before {
    content: "\20""—""\20"
}

a,
a:link,
a:visited {
    color: #0c8346;
    text-decoration: underline
}

p a,
p a:link,
p a:visited {
    line-height: inherit
}

a:hover,
a:active {
    color: #0a6938
}

ul,
ol {
    margin: 1.25rem;
    text-align: left
}

ul {
    list-style: disc outside
}

ol {
    list-style: decimal
}

ul.circle,
ul.disc,
ul.square {
    margin-left: 1.875rem
}

ul.circle {
    list-style: circle outside
}

ul.disc {
    list-style: disc outside
}

ul.square {
    list-style: square outside
}

ul ul,
ul ol,
ol ol,
ol ul {
    list-style: inherit;
    margin: .5rem 0 0 1.875rem
}

ul ul li,
ul ol li,
ol ol li,
ol ul li {
    margin-bottom: .5rem
}

li {
    margin-bottom: 1rem
}

img.resp {
    display: block;
    min-width: 100%;
    max-width: 100%;
    height: auto
}

img.floatLeft {
    float: left;
    margin: 0 1rem .5rem 0
}

img.floatRight {
    float: right;
    margin: 0 0 .5rem 1rem
}

.button,
p a.button,
button,
input[type="button"],
input[type="reset"],
input[type="submit"] {
    background-color: #0c8346;
    border-radius: 0;
    border: none;
    color: #fff;
    cursor: pointer;
    display: inline-block;
    font-family: "Open Sans", arial, sans-serif;
    font-size: 1rem;
    font-weight: 600;
    height: auto;
    line-height: normal;
    margin: 1rem 0 1.25rem 1rem;
    padding: .65rem 1rem;
    text-decoration: none;
    text-transform: uppercase
}

.button:first-child,
p a.button:first-child,
button:first-child,
input[type="button"]:first-child,
input[type="reset"]:first-child,
input[type="submit"]:first-child {
    margin-left: 0
}

.button:hover,
p a.button:hover,
button:hover,
input[type="button"]:hover,
input[type="reset"]:hover,
input[type="submit"]:hover {
    background-color: #0a6938;
    color: #fff
}

.button.ghost,
p a.button.ghost {
    border: 2px solid #fff;
    background-color: transparent
}

.button.ghost:hover,
p a.button.ghost:hover {
    background-color: #fff;
    color: #0c8346
}

.button.full-width,
p a.button.full-width,
button.full-width,
input[type="button"].full-width,
input[type="reset"].full-width,
input[type="submit"].full-width {
    text-align: center;
    width: 100%
}

html[class*="webkit"] .button,
html[class*="webkit"] p a.button,
html[class*="webkit"] button,
html[class*="webkit"] input[type="button"],
html[class*="webkit"] input[type="reset"],
html[class*="webkit"] input[type="submit"] {
    appearance: none
}

input[type="email"],
input[type="password"],
input[type="search"],
input[type="text"],
input[type="number"],
input[type="tel"],
input[type="date"],
select,
textarea {
    background-color: #fff !important;
    border: 2px solid #d8d8d8;
    color: #444;
    display: block;
    font-family: "Open Sans", arial, sans-serif;
    font-size: 1rem;
    font-weight: 400;
    height: 49px;
    max-width: 100%;
    padding: .65rem;
    width: 100%
}

input[type="email"]:focus,
input[type="password"]:focus,
input[type="search"]:focus,
input[type="text"]:focus,
input[type="tel"]:focus,
input[type="number"]:focus,
input[type="date"]:focus,
select:focus,
textarea:focus {
    border-color: #c8c8c8
}

textarea {
    min-height: 153px;
    overflow: auto;
    resize: none
}

html[class*="webkit"] input[type="email"],
html[class*="webkit"] input[type="password"],
html[class*="webkit"] input[type="search"],
html[class*="webkit"] input[type="text"],
html[class*="webkit"] input[type="number"],
html[class*="webkit"] input[type="tel"],
html[class*="webkit"] select,
html[class*="webkit"] textarea {
    appearance: none
}

html[class*="webkit"] select {
    background-image: url("image/css/select-interface.svg");
    background-position: right 15px top 50% !important;
    background-repeat: no-repeat;
    background-size: 11px
}

.add-bottom {
    margin-bottom: 4% !important
}

.add-top {
    margin-top: 4% !important
}

.half-bottom {
    margin-bottom: 2% !important
}

.half-top {
    margin-top: 2% !important
}

.remove-bottom {
    margin-bottom: 0 !important
}

.remove-top {
    margin-top: 0 !important
}

.left {
    float: left
}

.right {
    float: right
}

@media only screen and
/*!YUI Compressor */

(min-width:801px) {
    .visible-mobile,
    .visible-tablet,
    .hidden-desktop {
        display: none !important
    }
}

@media only screen and
/*!YUI Compressor */

(min-width:480px) and
/*!YUI Compressor */

(max-width:901px) {
    .visible-mobile,
    .hidden-tablet,
    .visible-desktop {
        display: none !important
    }
}

@media only screen and
/*!YUI Compressor */

(max-width:479px) {
    .hidden-mobile,
    .visible-tablet,
    .visible-desktop {
        display: none !important
    }
}

#utilities {
    background-color: #0c8346;
    padding: 1rem 0
}

#utilities .container {
    max-width: 100%
}

#logo .container {
    max-width: 100%
}

#logo p {
    margin-bottom: 0
}

#logo p a {
    position: absolute;
    top: 0;
    z-index: 100
}

#logo p a img {
    display: block;
    width: 100px;
    height: auto
}

@media only screen and
/*!YUI Compressor */

(max-width:900px) {
    #logo p a img {
        height: 55px;
        width: auto
    }
}

#media p img {
    height: 300px;
    object-fit: cover;
    width: 100%
}

@media only screen and
/*!YUI Compressor */

(max-width:900px) {
    #media p img {
        height: 200px;
        object-fit: cover;
        width: 100%
    }
}

#content {
    padding: 3rem 0
}

#content-side {
    padding-right: 3rem
}

@media only screen and
/*!YUI Compressor */

(max-width:900px) {
    #content {
        padding: 1rem 0 3rem
    }
    #content-side {
        padding-right: 0
    }
}

.card {
    background-color: #f2f2f2;
    margin-bottom: 1rem
}

.card>p {
    margin-bottom: 0
}

.card .card-block {
    padding: 1.3rem
}

.card .card-block h4 {
    margin: 0 0 .5rem
}

.card .card-block h4+p {
    font-size: .9rem;
    line-height: 1.414rem;
    margin-bottom: 1rem
}

.card .card-block p:last-child,
.card .card-block p:last-child a.button {
    margin: 0
}

#simpleSlider .slide .image img {
    font-family: 'object-fit: cover;';
    object-fit: cover;
    height: 500px
}

#simpleSlider .slide .text-block {
    background-color: rgba(12, 131, 70, .8);
    border-radius: 0;
    bottom: 15%;
    left: 5%;
    max-width: 65%;
    padding: 2rem;
    position: absolute;
    width: 48rem
}

#simpleSlider .slide .title h1 {
    color: #fff;
    font-size: 3.5rem;
    line-height: 1
}

#simpleSlider .slide .caption p {
    color: #fff;
    font-size: 1.2rem;
    font-weight: 300;
    letter-spacing: .01rem;
    line-height: 1.4
}

#simpleSlider .slide .caption p:last-child,
#simpleSlider .slide .caption a.button {
    margin: 0
}

#simpleSlider #navigation {
    font-size: 0;
    position: absolute;
    right: 5%;
    bottom: 15%;
    z-index: 4
}

#simpleSlider #navigation .navigation {
    display: inline-block
}

#simpleSlider #navigation .navigation a {
    background-color: #0c8346;
    border-radius: 0;
    color: #fff;
    display: block;
    font-size: 2.5rem;
    line-height: 0;
    padding: .8rem 1rem
}

#simpleSlider #navigation .navigation a:hover {
    background-color: #0a6938
}

#simpleSlider #navigation .navigation.next {
    margin-left: 1.5rem
}

#simpleSlider #pagination {
    display: none
}

@media only screen and
/*!YUI Compressor */

(max-width:900px) {
    #simpleSlider #navigation {
        background-color: #fff;
        position: relative;
        right: 0;
        bottom: 0
    }
    #simpleSlider #navigation .navigation {
        border-radius: 0;
        border: 2px solid rgba(255, 255, 255, .1);
        text-align: center;
        width: 50%
    }
    #simpleSlider #navigation .navigation.next {
        border-left: none;
        margin-left: 0
    }
    #simpleSlider .slide>.gutter::after {
        background-color: rgba(12, 131, 70, .8);
        content: "";
        height: 100%;
        position: absolute;
        width: 100%
    }
    #simpleSlider .slide .image img {
        position: absolute
    }
    #simpleSlider .slide .text-block {
        bottom: auto;
        left: 0;
        max-width: 100%;
        padding: 5%;
        position: relative;
        width: 100%
    }
}

@media only screen and
/*!YUI Compressor */

(max-width:479px) {
    #simpleSlider .slide .title h1 {
        font-size: 2.5rem;
        line-height: 1.1
    }
    #simpleSlider .slide .caption p {
        font-size: 1.1rem;
        letter-spacing: .03rem
    }
    #simpleSlider #navigation .navigation a {
        font-size: 2rem
    }
}

#footer {
    background-color: #0c8346;
    padding: 1rem 0
}

#footer p {
    color: #fff;
    font-weight: 300;
    margin-bottom: 0
}

#content-side ul.main-nav {
    background-color: #0c8346;
    display: block;
    margin: 0
}

#content-side ul.main-nav li {
    list-style: none;
    margin: 0
}

#content-side ul.main-nav li a {
    color: #fff;
    display: block;
    font-size: 1.125rem;
    font-weight: 600;
    line-height: 1.2;
    padding: 1rem 1.25rem;
    position: relative;
    text-decoration: none
}

#content-side ul.main-nav li a:hover {
    text-decoration: underline
}

#content-side ul.main-nav>li>a.selected::before {
    background-color: #fff;
    content: "";
    height: calc(100% - 2.15rem);
    left: 0;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    width: 3px
}

#content-side ul.main-nav ul {
    background-color: rgba(0, 0, 0, .2);
    display: none
}

#content-side ul.main-nav>li.selected>ul {
    display: block;
    margin: 0;
    padding: 1rem 0
}

#content-side ul.main-nav>li.selected>ul>li {
    margin-left: 2.5rem;
    margin-right: 1.25rem;
    padding: .625rem 0
}

#content-side ul.main-nav>li.selected>ul>li>a {
    font-size: 1rem;
    font-weight: 400;
    padding: 0
}

#content-side ul.main-nav>li.selected>ul>li>a.selected::before {
    background-color: #fff;
    content: "";
    height: 100%;
    left: -1.25rem;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    width: 3px
}

#content-side ul.main-nav>li.selected>ul>li>ul {
    padding-bottom: 0
}

#content-side ul.main-nav>li.selected>ul>li>ul>li {
    margin-left: 1rem
}

#content-side ul.main-nav>li.selected>ul>li>ul>li>a {
    font-size: .9rem
}

#content-side ul.main-nav>li.selected>ul>li>ul>li.selected>a,
#content-side ul.main-nav>li.selected>ul>li>ul>li>a.selected {
    font-weight: 700
}

#content-side ul.main-nav>li.selected>ul>li>ul>li>a.selected::before {
    display: none
}

#utilities ul {
    font-size: 0;
    margin: 0;
    text-align: right
}

#utilities ul li {
    display: inline-block;
    margin: 0
}

#utilities ul li:not(:first-child) {
    margin-left: 1.875rem
}

#utilities ul li a {
    color: rgba(255, 255, 255, .8);
    font-size: .875rem;
    font-weight: 700;
    letter-spacing: .02rem;
    text-decoration: none;
    text-transform: uppercase
}

#utilities ul li a:hover {
    color: #fff
}

#breadcrumb {
    font-size: .813rem;
    margin: 0
}

#breadcrumb ul {
    cursor: default;
    display: inline-block;
    margin: 0
}

#breadcrumb ul li {
    display: none;
    margin: 0
}

#breadcrumb ul li.selected {
    display: inline-block
}

#breadcrumb ul li.selected a {
    color: #0c8346;
    text-decoration: none
}

#breadcrumb ul li.selected a:hover {
    color: #0a6938
}

#breadcrumb ul li li.selected a {
    position: relative
}

#breadcrumb ul li li.selected::before {
    color: #777;
    content: "/";
    margin: 0 .5rem;
    position: relative
}