<header class="site-header">
    <div class="search">
        <div class="content-wrapper">
            <img alt="search - Search" src="https://foundation.uc.edu/view.image?pane=search&amp;panename=search%20-%20Search" title="search - Search" data-runat="server" data-template_pane="1" data-paneid="search" data-panedescription="Search" />
        </div>
    </div>
    <div class="content-wrapper gap-top-200 gap-bottom-200">
        <div class="brand">
            <img alt="logo - Logo" src="https://foundation.uc.edu/view.image?pane=logo&amp;panename=logo%20-%20Logo" title="logo - Logo" data-runat="server" data-template_pane="1" data-paneid="logo" data-panedescription="Logo" />
        </div>
        <nav id="site-navigation" class="site-navigation" aria-label="Menu">
            <img alt="navigation - Navigation" src="https://foundation.uc.edu/view.image?pane=navigation&amp;panename=navigation%20-%20Navigation" title="navigation - Navigation" data-runat="server" data-template_pane="1" data-paneid="navigation" data-panedescription="Navigation"
            />
        </nav>
    </div>
</header>
<main>
    <img alt="content-placeholder - Content Placeholder" src="https://foundation.uc.edu/view.image?pane=content-placeholder&amp;panename=content-placeholder%20-%20Content%20Placeholder" title="content-placeholder - Content Placeholder" data-runat="server"
        data-template_pane="1" data-paneid="content-placeholder" data-panedescription="Content%20Placeholder" />
</main>
<footer>
    <div class="content-wrapper">
        <img alt="footer - Footer" src="https://foundation.uc.edu/view.image?pane=footer&amp;panename=footer%20-%20Footer" title="footer - Footer" data-runat="server" data-template_pane="1" data-paneid="footer" data-panedescription="Footer" />
    </div>
</footer>